<h1>Welcome to <%= Rails.application.class.parent_name.downcase %>!</h1>

<p>
  <%= Rails.application.class.parent_name.downcase %> is a tool to
  help you make and track personal goals.
</p>
<br />
<p>
  Check out the <%= link_to('about page', about_path) %> to learn more
  or you can <%= link_to('login', new_user_session_path) %> or
  <%= link_to('signup', new_user_registration_path) %> to get started!
</p>
