<%= devise_error_messages! %>

<div class="basic_form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.login', default: 'Login') %></h4>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
	  <%= f.label :email, class: 'control-label' %>
	  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  <%= devise_errors_for(:email) %>
	</div>

	<div class="form-group">
	  <%= f.label :password, class: 'control-label' %>
	  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
	  <%= devise_errors_for(:password) %>
	</div>

	<% if devise_mapping.rememberable? -%>
	  <div class="checkbox">
	    <%= f.label :remember_me do %>
	      <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
	    <% end %>
	  </div>
	<% end -%>

	<%= f.submit "Login", class: 'btn btn-primary btn-block btn-lg' %>
	<% end %>
    </div>

  </div>
  <%= render "devise/shared/links" %>
</div>
