<% unless local_assigns.fetch :align_left, false %>
  <% align_style = 'text-align: right;' %>
  <% dropdown_align = 'dropdown-menu-right' %>
<% end %>

<ul class="dropdown-menu <%= dropdown_align %>" style="<%= align_style %>">
  <li>
    <%= link_to goal_execute_path(goal) do %>
      Execute
    <% end %>
  </li>

  <li>
    <%= link_to goal_unexecute_path(goal) do %>
      Unexecute
    <% end %>
  </li>

  <li>
    <%= link_to goal_path(goal) do %>
      Details
    <% end %>
  </li>

  <li>
    <%= link_to edit_goal_path(goal) do %>
      Edit
    <% end %>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <!-- requires javascript enabled in the browser :(
	 remove padding, will add it back on the button -->
    <a style="padding: 0px;">
      <%= button_to goal, method: :delete, data: { confirm: 'Are you sure?' },
	  type: 'button', class: 'btn-dropdown', style: align_style do %>
        Delete
      <% end %>
    </a>
  </li>
</ul>
