<div class="panel-body">
  <%= form_for(goal) do |f| %>
    <div class="form-group">
      <%= f.label :description, class: 'control-label' %>
      <%= f.text_field :description, class: 'form-control' %>
      <%= goals_errors_for(:description) %>
    </div>

    <div class="form-group">
      <%= f.label :frequency, class: 'control-label' %>
      <%= f.select :frequency, Goal.frequencies.keys.map {|f| [f.titleize,f]}, {}, class: 'form-control' %>
      <%= goals_errors_for(:frequency) %>
    </div>

    <%= f.submit class: 'btn btn-primary btn-block btn-lg' %>
  <% end %>
</div>
