<% header_id = "heading_#{goal.id}" %>
<% collapse_id = "collapse_#{goal.id}" %>
<% collapse_link = "##{collapse_id}" %>

<div class="panel panel-<%= colors(goal)[:class] %>">
  <div class="panel-heading clearfix" role="tab" id="<%=header_id%>">
    <div class="dropdown pull-right">
      <button type="button" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <%= render 'dropdown', goal: goal %>
    </div>
    <button type="button" class="quick-submit pull-right"
            data-action="<%= goal_execute_path(goal) %>">
      <span class="glyphicon glyphicon-ok"></span>
    </button>

    <h4 class="panel-title pull-left">
      <a role="button" href="<%= collapse_link %>" data-parent="#accordion"
         data-toggle="collapse" aria-expanded="true" aria-controls="<%= collapse_id %>">
        <small>I will</small> <%= goal.description %> <%= goal.frequency %>
      </a>
    </h4>
  </div>

  <div id="<%=collapse_id%>" class="panel-collapse collapse" role="tabpanel"
       aria-labelledby="<%=header_id%>">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          Current streak <%= current_length(goal) %> days
        </div>
        <div class="col-xs-6">
	  Longest streak <%= goal.longest_streak_length / 1.day.seconds %> days
        </div>
      </div>
    </div>
  </div>
</div>
