<div class="row">
  <% color = nil %>
  <% if @goal.latest_streak %>
    <% if @goal.latest_streak.current? %>
      <% color = "#dff0d8" %>
    <% elsif @goal.latest_streak.recent? %>
      <% color = "#fcf8e3" %>
    <% else %>
      <% color = "#ebcccc" %>
    <% end %>
  <% end %>

  <div class="jumbotron", style="background-color:<%= color if color %>">
    <h1>
      <small>I will</small>
      <%= @goal.description %>
      <%= @goal.frequency %>
    </h1>

    <% if @goal.latest_streak && @goal.latest_streak.recent? %>
      <div>
	Current streak
	<%= @goal.latest_streak.length / 1.day.seconds %>
	days
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <%= link_to goals_path, type: 'button', class: 'btn btn-lg btn-primary' do %>
  Back
  <% end %>

  <div class="pull-right">
    <%= link_to goal_streaks_execute_path(@goal), type: 'button', class: 'btn btn-lg btn-success' do %>
    Execute
    <% end %>

    <%= link_to goal_streaks_unexecute_path(@goal), type: 'button', class: 'btn btn-lg btn-success' do %>
    Unexecute
    <% end %>

    <%= link_to edit_goal_path(@goal), type: 'button', class: 'btn btn-lg btn-warning' do %>
    Edit
    <% end %>

    <!-- requires javascript enabled in the browser :( -->
    <%= link_to @goal, method: :delete, data: { confirm: 'Are you sure?' }, type: 'button', class: 'btn btn-lg btn-danger' do %>
    Delete
    <% end %>
  </div>
</div>
