<div class="row">
  <% color = nil %>
  <% if @goal.latest_streak %>
    <% if @goal.latest_streak.current? %>
      <% color = "#dff0d8" %>
    <% elsif @goal.latest_streak.recent? %>
      <% color = "#fcf8e3" %>
    <% else %>
      <% color = "#ebcccc" %>
    <% end %>
  <% end %>

  <div class="jumbotron", style="background-color:<%= color if color %>">
    <h1>
      <small>I will</small>
      <%= @goal.description %>
      <%= @goal.frequency %>
    </h1>

    <% if @goal.latest_streak && @goal.latest_streak.recent? %>
      <div>
	Current streak
	<%= @goal.latest_streak.length / 1.day.seconds %>
	days
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <%= link_to goals_path, type: 'button', class: 'btn btn-lg btn-primary' do %>
    Back
  <% end %>

  <div class="pull-right">
    <div class="btn-group">
      <%= link_to goal_streaks_execute_path(@goal), type: 'button',
	  class: 'btn btn-lg btn-success' do %>
        Execute
      <% end %>
      <button type="button" class="btn btn-lg btn-success dropdown-toggle"
	      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
      </button>
      <%= render 'dropdown', goal: @goal %>
    </div>
  </div>
</div>
